html * {
    font-family: $roboto-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
 
body {
    position:relative;
    background-color: $color-background;
    min-height: 100vh;
} 
span.bold{
    font-weight: bold;
}
