@import './abstracts/abstracts';
@import './vendors/vendors';
@import './base/base';
@import './components/components';
@import './layout/layout';
@import './pages/pages';
@import './themes/themes';
@import 'settings';
@import 'tailwindcss';

.us{
    margin-left: 16px;
    margin-right: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top:16px;
    margin-top: 20px;
//     background-color: $color-blue;
//     box-shadow: 1px 1px 4px -1px rgba(110,189,253,0.39);
// -webkit-box-shadow: 1px 1px 4px -1px rgba(110,189,253,0.39);
// -moz-box-shadow: 1px 1px 4px -1px rgba(110,189,253,0.39);
    
    &__title{
        @include heading(S);
        text-align: center;
    }

    &__text{
        @include body(S);
        
        text-align: center;
        margin-top:20px;
    }

    &__button{
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        align-items: center;
        width: fit-content;
        font-family: $font-text;
        img{
            width: 27px;
            overflow-y: hidden;
            margin-left:5px;
        }
       
    }

}

.how{
    display: flex;
    flex-direction:column;
    align-items:center;
    padding: 0 16px 0 16px;
    margin-top:75px;

    &__title{
        @include heading(S);
        margin-bottom: 20px;
    }

    &__categories{
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    &__article{
        width: 275px;
        -webkit-box-shadow: 5px 5px 6px -6px #000000; 
        box-shadow: 5px 5px 6px -6px #000000;
        background-color: $color-background-box;
        padding:25px 13px 20px 22px;
        margin-bottom:30px;

        img{
            width: 50px;
            margin-bottom: 15px;
        }
        

        h3{
            font-family: $font-text;
            font-weight: 600;
            font-size: 1.1rem;
            margin-bottom: 8px;
        }
        p{
            font-family: $font-text;
            font-size: 0.9rem;
        }
    }

    &__text{
        @include body(S);
        margin-bottom: 30px;
        text-align: center;
    }
}

.help{
    margin-top: 60px;
    padding: 10px 16px 10px 16px;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:30px;

    &__title{
        @include heading(S);
        text-align:center
    }

    &__text{
        @include body(S);
        strong{
            @include body(S);
        }
    }

}

.contact{
    margin-top: 50px;
    padding-left:16px;
    padding-right:16px;
    display: flex;
    align-items: center;
    flex-direction:column;

    &__title{
        @include heading(S);
        text-align: center;
        margin-bottom: 20px;
    }
    &__info{
        padding-left:5px;
        display: flex;
        gap:10px;
        margin-bottom: 20px;
        align-items: center;
        
        img{
            width: 25px;
            height: 25px;
        }

        a{
            @include body(S);
        } 
    }
    &__map{
            width: 100%;
            margin-top: 50px;
        }

    &__button{
        display:inline-block;

        margin-top: 30px;
    }
    
}