@mixin breakpoint($bp) {

  @if $bp==mobil {
    @media (min-width:$bp_mobil){
      @content;
    }
  }

  @if $bp==tablet {
    @media (min-width:$bp-tablet) {
      @content;
    }
  }
  @if $bp==tablet-horizontal {
    @media (min-width:$bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp==desktop {
    @media (min-width:$bp-desktop){
      @content;
    }
  }

  @if $bp==desktopxl {
    @media (min-width:$bp-desktop-xl){
      @content;
    }
  }
}

//heading typography
@mixin heading($size) {
  font-family: 'Bebas Neue', sans-serif; 
  color:$color-title;
  @if $size == XL {
    font-size: 96px;
    line-height: 88px;
  }
  @else if $size == L {
    font-size: 70px;
    line-height: 70px;
  }
  @else if $size == M {
    font-size: 60px;
    line-height: 55px;
  }
  @else if $size == S {
    font-size: 36px;
    line-height: 36px;
  }
  @else if $size == XS {
    font-size: 24px;
    line-height: 24px;
  }
}

//body typography
@mixin body($size) {
  font-family: $font-text;
  color:$color-text;
  @if $size == M {
    font-size: 22px;
    line-height: 32px;
  }
  @else if $size == S {
    font-size: 16px;
    line-height: 28px;
  }
}