$roboto-font: 'Roboto', sans-serif; 

//
//breakpoints   
$bp-mobile:375px;
$bp-tablet:768px;
$bp-tablet-horizontal:1024px; 
$bp-desktop:1200px;
$bp-desktop-xl:1440px;

//fonts 
$font-title: 'Bebas neue', sans-serif;
$font-text:"Montserrat", sans-serif;;
//colores 
$color-text: #2A3C4D ; // 
$color-background: #C7E2F6; // 
$color-title:#3B6E8F ;
$color-subtitle:#5D87A1;
$color-cta:#3B6E8F;
$color-cta-hover:#72A7C3;
$color-button:#F0F4F8;
$color-darkBlue:#416992;
$color-background-box:#E6F0FA;
$color-background-inverted:#416992;
