$roboto-font: 'Roboto', sans-serif; 

//
//breakpoints   
$bp-mobile:375px;
$bp-tablet:768px;
$bp-tablet-horizontal:1024px; 
$bp-desktop:1200px;
$bp-desktop-xl:1440px;

//fonts 
$font-title: 'Bebas Neue', sans-serif;
$font-text:"Outfit", sans-serif;;
//colores 
$color-darkBlue: #416992; // 
$color-blue: #C7E2F6; // 
$color-hover: #1f3246; // 
$color-quaternary: #1976D2; //      
$color-grey: #333333;

$bg-color-primary: #C7E2F6; //  