.page-qui-som{
   
    .container{
        margin: 0 auto;
        max-width: 350px;
    }

    .historia{
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 20px; 
        
        &__title{
            @include heading(S);
            margin-bottom: 10px;
            text-align: center;

;        }

        &__text{
            @include body(S);
            text-align: center;
            margin-bottom: 5px;
        }
    }
    .datos{
        background-color: $color-background-inverted;
        padding: 10px;
        .objectius{
            margin-top: 20px;
            margin-bottom: 20px;
            &__title{
                @include heading(S);
                margin-bottom: 10px;
                text-align: center;
                color:white;
    ;        }

            &__text{
                @include body(S);
                text-align: center;
                margin-bottom: 5px;
                color:white;
            }
        }
        .valors{
            margin-top: 20px;
            margin-bottom: 20px;
            &__title{
                @include heading(S);
                margin-bottom: 10px;
                text-align: center;
                color:white;
    ;        }

            &__list{
                li{
                    @include body(S);
                    color:white;
                }
                
                text-align: center;
                margin-bottom: 5px;
                color:white;
                list-style:circle;
                text-align: left;
            }
        }
    }
}