#menu{
    transition: all 0.3s ease;
    @include breakpoint(tablet-horizontal){
            display:none;
        }
        
        
}

.cta{
    background-color: $color-cta;
    display: inline-block;
    padding:16px 28px 16px 28px;
    border-radius:5px;
    font-family: $font-text;
    color:white;
    font-weight: 600;
    
    &:hover{
        background-color: $color-cta-hover;
        
    }
}

.button{
    border-radius:8px;
    background-color: $color-button;
    padding:12px 24px 12px 24px;
    color:rgb(49, 49, 49);
    font-family: font-text;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: $font-text;
    
    


    &:hover{
        opacity:0.8;
    }
    

}

.hero__button{
    display: inline-block;
    padding:12px 24px 12px 24px;
    border-radius:5px;
    font-family: $font-text;
    color:white;
    font-weight: 600;
    border:solid white 1px;
    @include breakpoint(tablet-horizontal){
        @include body(M);
        color:white;
    }
    
    
}

.us__button{
        margin-top: 30px;
        
        img{
            width: 27px;
            overflow-y: hidden;
            margin-left:5px;
        }

}

.how__button{
    @include breakpoint(tablet){
        font-size: 18px;
        margin-top:50px;
    }
}

.help__button{
    @include breakpoint(tablet-horizontal){
        @include body(M);
        color:white;
        border: solid white 1px;
    }
}
    


