.header__container{
    z-index: 20000;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 10px 25px;
    background-color: $color-background;
    @include breakpoint (tablet-horizontal){
        padding: 0;
    }
    
   
    

    &__logo{
        img{width: 120px;
        @include breakpoint(tablet-horizontal){
          
        }}
        
    }
    
}

.header{
        order: 1;
        position: sticky;
        z-index: 100;
        top:0;


    @include breakpoint (tablet-horizontal){
        position: sticky;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding:20px 70px;
        background-color: $color-background;
        
    }
}
