.header{
    z-index: 20000;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 10px 25px;
    background-color: $color-background;

    &__logo{
        img{width: 120px;
        @include breakpoint(tablet-horizontal){
            width: 140px;
        }}
        
    }
    
}

.header__container{
        position: sticky;
        z-index: 100;
        top:0;


    @include breakpoint (tablet-horizontal){
        position: sticky;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding:15px 20px;
        background-color: $color-background;
        padding-left:40px;
        
    }
}