.hero{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:10px 16px 70px 16px;
    z-index: 1;
    gap:20px;
    aspect-ratio: 3/4;
    overflow: hidden;
    @media (min-width:376px) {
        aspect-ratio: 10/11.5;
        gap:40px;
    }
    @include breakpoint(tablet){
        aspect-ratio: 3/1.7;
        width: 100%;
        aspect-ratio: 10/8;
        padding-left: 40px;
        padding-right: 40px;
    }
    @include breakpoint(tablet-horizontal){
        padding-left: 120px;
        padding-right: 120px;
        aspect-ratio: 10/8;


    }
    // aspect-ratio: 161/178;

    
    

    &__background{
        overflow-x: hidden;
        width: 100%;
        height: 100%;
        position:absolute;
        z-index: -1;
        top:-10px;
        @include breakpoint (tablet){
            width: 145%;
            height: 110%;
            top:-70px
        }
        @include breakpoint (tablet-horizontal){
            top:0px;
        }
        
    }

        
        
    &__image{
            overflow-x: hidden;
            display: block;
            width: 100%;
            height: 100%;
            object-fit:cover ;
            object-position: 0 -75px;
    
            @media (min-width:376px) {
                object-position:center;
                
            }
            @include breakpoint(tablet){
                object-position: 0 -150px;
            }
            @include breakpoint(tablet-horizontal){
                object-position: 0 -200px;
            }
    }

    
    &__title{
        display:none;
        
    }

    &__subtitle{
        @include heading(S);
        text-align: center;
        color: white;
        margin-top: 30px;
        max-width: 394px;;
        @include breakpoint(tablet){
            @include heading (M);
            color: white;
            max-width: 100%;
        }
        @include breakpoint (tablet-horizontal){
            @include heading(XL);
            color: white;
            margin-top: 60px;
            max-width: 790px;
        }
    }

    

    
        
    
}