.header__nav{
    z-index: -10;
    position:absolute;
    top :-176px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $color-darkBlue;
    transition: 0.5s ease-in;
    @include breakpoint(tablet-horizontal){
        width: fit-content;
        margin:0;
        position: static;
        background-color: $color-background;
        ul{
            display: flex;
            gap:20px;
        }
    }
    
    
    &.is-open{
        top: 54.8px;
        
    }
    
    a{
        display: inline-block;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        transition-duration: 0.3s;
        color: #FFFFFF;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        @include breakpoint(tablet-horizontal){
            color: $color-text;
            font-weight: 600;
            position:relative;
            &:hover{
                &::before{
                    content: '';
                    position:absolute;
                    width: 80%;
                    height: 3px;
                    background-color: $color-background-inverted;
                    bottom:1px;
                    transform-origin: left;
                    animation:nav_underline 0.2s ease-in;
                }
            }

        }
        &.active{
            background-color: $color-darkBlue-hover;
            @include breakpoint(tablet-horizontal){
                background-color: $color-background;
                &::before{
                    content: '';
                    position:absolute;
                    width: 80%;
                    height: 3px;
                    background-color: $color-background-inverted;
                    bottom:1px;
                    transform-origin: left;
                    animation:nav_underline 0.2s ease-in;
                }
            }
        }

        
    }

}
